<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= titulo %></title>
    <link href="/css/productos.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/header.css">
</head>

<body>
    <%- include("partials/header.ejs") %>
    
    <div class="contenedor-catalogo">
        <h1 class="titulo-categoria">Nuestros Perfumes</h1>
        <div id="contenedor-productos" class="espacio-categorias">
            <p style="color: white; text-align: center; font-size: 1.5rem;">Cargando productos...</p>
        </div>
    </div>

    <script src="/js/productos.js"></script>
    <%- include("partials/footer.ejs") %>
</body>

</html>