<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo de Perfumes</title>
    <link href="/css/productos.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/header.css">
</head>

<body>
    <%- include("partials/header.ejs") %>
    <div class="contenedor-catalogo">
        <div id="contenedor-productos" class="espacio-categorias"></div>
    </div>


    <script type="module" src="/js/productos.js"></script>
    <%- include("partials/footer.ejs") %>
</body>

</html>