<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/Nosotros.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <%- include("partials/header.ejs") %>
    <main class="about-section container">
        <section class="about-card">
            <h2>Sobre Nosotros</h2>
            <p>En Platinum perfumes, nos apasiona el arte de la perfumería fina. Con años de experiencia, curamos una selección de fragancias lujosas que inspiran y cautivan, asegurando que cada cliente encuentre su aroma único.</p>
        </section>
        <section class="about-card">
            <h2>Misión</h2>
            <p>Ofrecer una exquisita gama de fragancias que celebren la individualidad y evoquen recuerdos inolvidables, manteniendo un compromiso inquebrantable con la calidad, la innovación y la satisfacción del cliente.</p>
        </section>
        <section class="about-card">
            <h2>Visión</h2>
            <p>Convertirnos en líderes globales en el mundo de la perfumería, reconocidos por nuestra dedicación al arte, la sostenibilidad y la creación de aromas atemporales que dejen una impresión duradera.</p>
        </section>
    </main>
    <%- include("partials/footer.ejs") %>
</body>
</html>